h3 {
  color: #f7f7f7;
}
.container {
  width: 100%;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
h6{
  white-space: pre;
}
.first {
  background-color: #393e46;
  color: #b4cde6;
  border-radius: 10px;
  padding: 10px;
}
.second {
  background-color: #ededed;
  border-radius: 10px;
  padding: 10px;
  white-space: pre;
}
.card {
  background-color: #aebdca;
  padding: 20px;
  padding-left: 10px;
  border-radius: 10px;
  color: #ffffff;
}
.btn1,
.btn2,
.btn3 {
  border-radius: 3px;
  padding: 5px;
  border: none;
}
.btn1 {
  background-color: #3f3b6c;
  color: white;
  margin-right: 8px;
}
.btn2 {
  background-color: #628e90;
  color: white;
  float: right;
  margin-right: 5px;
}
.btn3 {
  background-color: #815b5b;
  color: white;
  display: block;
  margin: auto;
  padding: 8px;
}
a{
  text-decoration: none;
  font-size: medium;
  float: right;
}