<div class="main">
  <div class="container col col-lg-4 col-xs-3">
    <form [formGroup]="passwordform" (ngSubmit)="onSubmit()">
      <h3><b>PasswordReset Form</b></h3>
      <div>
        <label for="email" class="inp">Email:</label>
        <input
          type="text"
          placeholder="email"
          formControlName="email"
          class="inp"
        />
        <span
          class="text-danger"
          *ngIf="
            passwordform.controls['email'].dirty &&
            passwordform.hasError('required', 'email')
          "
          >Email is required</span
        >
        <!-- <label for="code" class="inp">Verification code:</label>
        <input type="text" placeholder="Verification code" formControlName="code" class="inp">
        <span class="text-danger" *ngIf="passwordform.controls['code'].dirty && passwordform.hasError('required','code')">Code is required</span> -->
        <label for="password" class="inp">New Password:</label>
        <input
          type="password"
          placeholder="password"
          formControlName="newpassword"
          class="inp"
        />
        <span
          class="text-danger"
          *ngIf="
            passwordform.controls['newpassword'].dirty &&
            passwordform.hasError('required', 'newpassword')
          "
          >Password is required</span
        >
        <br />
        <button class="btn btn-primary p-2" [disabled]="!passwordform.valid">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
