.btn {
  float: center;
}
.container1 {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}
.qns {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  border: rgb(82, 79, 79);
  padding: 10px;
  margin-left: 0px;
}
h4 {
  color: rgb(51, 86, 201);
}
.btn1 {
  border: none;
}
.btn2 {
  border: none;
  background-color: #3a8891;
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
}
a{
  text-decoration: none;
  font-size: medium;
  float: right;
  margin-top: 20px;
  margin-right: 80px;
}
